/vendor/
/documentation/
/pdepend/
/phpcpd.phar
/phpdoc.phar
/.idea/
/.php-cs-fixer.cache
/bin/console
/.phpcs-cache

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
